
@font-face {
    font-family: '8bit_arcade';
    src: url('../praticar/fonts/8-bit_arcade_in-webfont.woff2') format('woff2'),
         url('../praticar/fonts/8-bit_arcade_in-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin:0;
    padding:0;
}
header {
    display:flex;
    justify-content: center;
    height:120px;
}
.container {
    display:flex;
    justify-content: space-between;
    width:990px;
}
.logo, .topz {
    width:100px;
    border-radius: 70px;
    display: flex;
    align-items:center;
}
.menu {
    display:flex;
    align-items:center;
    font-family:'8bit_arcade';
    font-size:30px;
}
nav ul,
nav li {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul {
    
    display:flex;
}
nav a {
    display:block;
    padding:15px;
    text-decoration:none;
    text-transform: uppercase;
    color:#727272
}
nav .active a,
nav a:hover {
    background-color:#97632e;
    color:#FFFFFF
}
#banner {
    display:flex;
    justify-content: center;
    background-image: url('../imagens/cofbanner.jpg');
    background-position:center;
    background-size: cover;
    height:650px;
}

p {
    font-family:'8bit_arcade';
    font-size: 60px;
    width:140px;
    color:#585858 ;
    padding:5px
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.banner_options {
    height:210px;
}
.banner_headline h1 {
    font-family: sans-serif;
    color:#ffffff;
    font-size:60px;
    margin:0;
    padding:0;
    text-shadow:0px 1px 0px #555555 ;
    width:300px;
}
.banner_headline h2 {
    color:#ffffff;
    margin:0;
    padding:0;
    font-size:25px;
    text-shadow:0px 1px 0px #555555 ;
    width:300px;
    margin-top:30px
}
.banner_options {
    height:210px;
    display:flex;
}
.banner1,
.banner2,
.banner3 {
    flex:1;
    padding:20px;
}
.banner1 {
    border:3px solid #ffffff;
    background-color:transparent;
}
.banner2 {
   
    background-color:transparent;
}
.banner3 {
    border:3px solid #ffffff;
    background-color:transparent;
}
.banner_title {
    font-size:25px;
    color:#ffffff;
}
.banner_desc {
    color:#ffffff;
    font-size:15px;
    margin-top:20px;
    margin-bottom:20px;
}
.banner_options a {
    display:inline-block;
    border:1px solid #ffffff;
    padding:5px;
    color:#ffffff;
    text-decoration:none;
    font-size:15px
}
#geral {
    display:flex;
    justify-content:center;
}
.widget_title {
    margin-top:30px;
    margin-bottom:20px;
}
.widget_title_text {
    color:#000000;
    font-size:21px;
    font-weight: bold;
}
.widget_title_bar {
    width:70px;
    height:3px;
    background-color:#97632e;
    margin-top:5px;
}
.widget_info {
    height:200px;
    width:320px;
    background-color: #97632e;
    margin-top:30px;
}
.flex {
    display: flex;
    flex-wrap:wrap;
}
article {
    min-width:300px;
    flex:1;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display:flex;
}
article .news_posted_at {
    background-color: #97632e;
    color:#ffffff;
    font-size:15px;
    padding:10px;
    margin-right:2px;
}
article .news_comments {
    background-color: #a77c51;
    color:#ffffff;
    font-size:15px;
    padding:10px;
}
article .news_thumb {
    margin-top:30px
}
article .news_thumb img {
    width:100%;
    height:auto;
}
article .news_title {
    margin-top:25px;
    margin-bottom:25px;
    font-size:23px;
    color:#000000
}
article .news_resume {
    color:#5c5c5c;
    font-size:14px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color:#000000;
    display:flex;
    justify-content: center;
}
.footer_menu {
    display:flex;
}
.fm_1, .fm_2, .fm_3 {
    flex:1;
    padding:20px
}
.fm_1 {
    background-color:#75502b;
}
.fm_2 {
    background-color:#97632e;
}
.fm_3 {
    background-color:#b9732d
}
.footer_area {
    display:flex;
}
.footer_areaitem {
    flex:1;
    color:#ffffff
}
.flexColumn {
    flex-direction:column;
}
footer .widget_title_text {
    color:#ffffff;
}
.footer_copy {
    border-top:1px solid #2c2c2c;
    height:40px;
    line-height: 40px;
    color:#5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}